In [18]:
#Import Library 
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore") 
pd.set_option("display.max_columns",None)
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
import tkinter as fileimport
from tkinter import filedialog
import pandas as pd

root= fileimport.Tk()

canvas1 = fileimport.Canvas(root, width = 200, height = 200, bg = 'lightsteelblue2', relief = 'raised')
canvas1.pack()

def getCSV ():
    global df
    
    import_file_path = filedialog.askopenfilename()
    df = pd.read_csv (import_file_path)
    #print (df)
    
browseButton_CSV = fileimport.Button(text="      Import CSV File 1     ", command=getCSV, bg='green', fg='white', font=('helvetica', 12, 'bold'))
canvas1.create_window(100, 100, window=browseButton_CSV)

root.mainloop()

df=df.drop(["Open","High","Low","Qty","PeriodNo","OADate"],axis=1)
df

            Time    Close
0     2020/05/22  1617.90
1     2020/05/21  1574.30
2     2020/05/20  1500.05
3     2020/05/19  1503.95
4     2020/05/18  1501.10
...          ...      ...
5062  2000/01/07    13.59
5063  2000/01/06    13.30
5064  2000/01/05    13.49
5065  2000/01/04    13.58
5066  2000/01/03    13.45

[5067 rows x 2 columns]

In [20]:
import tkinter as fileimport
from tkinter import filedialog
import pandas as pd

root= fileimport.Tk()

canvas1 = fileimport.Canvas(root, width = 200, height = 200, bg = 'lightsteelblue2', relief = 'raised')
canvas1.pack()

def getCSV ():
    global df2
    
    import_file_path = filedialog.askopenfilename()
    df2 = pd.read_csv (import_file_path)
    #print (df)
    
browseButton_CSV = fileimport.Button(text="      Import CSV File 2    ", command=getCSV, bg='green', fg='white', font=('helvetica', 12, 'bold'))
canvas1.create_window(100, 100, window=browseButton_CSV)

root.mainloop()

df2=df2.drop(["Open","High","Low","Qty","PeriodNo","OADate"],axis=1)
df2

#Join on Time (Merge)
df_ratio=pd.merge(df,df2,on="Time",how="inner",indicator=False)
df_ratio=df_ratio.rename(columns={"Close_x":"asian"})
df_ratio=df_ratio.rename(columns={"Close_y":"berg"})
df_ratio["Time"]=pd.to_datetime(df_ratio["Time"],infer_datetime_format=True)
df_ratio=df_ratio.sort_values(['Time'],ascending=True)
df_ratio["Ratio"]=df_ratio["asian"]/df_ratio["berg"]
#df_ratio=df_ratio.set_index("Time")
df_ratio1=pd.DataFrame(df_ratio)
df_ratio

           Time    asian    berg     Ratio
5066 2000-01-03    13.45    2.11  6.374408
5065 2000-01-04    13.58    2.03  6.689655
5064 2000-01-05    13.49    2.05  6.580488
5063 2000-01-06    13.30    2.07  6.425121
5062 2000-01-07    13.59    2.05  6.629268
...         ...      ...     ...       ...
4    2020-05-18  1501.10  440.45  3.408105
3    2020-05-19  1503.95  439.30  3.423515
2    2020-05-20  1500.05  444.10  3.377730
1    2020-05-21  1574.30  465.45  3.382318
0    2020-05-22  1617.90  457.30  3.537940

[5067 rows x 4 columns]

In [21]:
year=[]
for x in df_ratio['Time']:
    year.append(x.year)
df_ratio["Year"]=year

In [37]:
user_yr=input("Enter year on which wants to Trade:")
user_yr=int(user_yr)
temp_yr=user_yr-1

Enter year on which wants to Trade:2018

In [38]:
df=df_ratio[(df_ratio['Year']>=user_yr)]
df=df.set_index("Time")
mean_yr=df_ratio[(df_ratio['Year']==temp_yr)]
temp=df_ratio[(df_ratio['Year']==user_yr)]
final=pd.DataFrame(columns=["Date","Asian","Berg","Ratio","Year","Status","Type","Amt"])
Stop="False"

In [39]:
df.head()

              asian    berg     Ratio  Year
Time
2018-01-01  1122.86  264.93  4.238327  2018
2018-01-02  1121.97  260.34  4.309634  2018
2018-01-03  1121.14  259.31  4.323551  2018
2018-01-04  1150.74  261.72  4.396836  2018
2018-01-05  1163.70  262.41  4.434663  2018

In [40]:
mean_yr

          Time    asian    berg     Ratio  Year
835 2017-01-02   880.31  207.00  4.252705  2017
834 2017-01-03   872.48  208.85  4.177544  2017
833 2017-01-04   882.21  210.03  4.200400  2017
832 2017-01-05   891.84  209.34  4.260246  2017
831 2017-01-06   904.49  214.73  4.212220  2017
..         ...      ...     ...       ...   ...
592 2017-12-22  1117.31  256.16  4.361766  2017
591 2017-12-26  1129.83  256.21  4.409781  2017
590 2017-12-27  1128.16  255.96  4.407564  2017
589 2017-12-28  1123.59  256.70  4.377055  2017
588 2017-12-29  1137.44  269.70  4.217427  2017

[248 rows x 5 columns]

In [30]:
cor=temp["asian"].corr(temp["berg"])*100
Exit_yr=Entry_yr=user_yr
while (Stop!="True"):
    if (cor>=80):
        if(Exit_yr==Entry_yr):
            mean=mean_yr['Ratio'].mean()
            std=mean_yr['Ratio'].std()
            
            short2=mean + 2*std
            short1=mean + std
            long2=mean - 2*std
            long1=mean - std
            
            Entry=df[(df['Ratio']>=short2) |  (df['Ratio']<=long2)]   #Entry for Trading
            Entry=Entry.iloc[0]
            #Entry_yr=Entry[3]      ######################
            Stats="Entry"
            final = final.append({'Date':Entry.name,'Asian':Entry[0],'Berg':Entry[1],'Ratio':Entry[2],'Year':Entry[3],'Status':'Entry', 'Type':'NaN','Amt':0}, ignore_index=True)
            test=df.loc[Entry.name:]  
            
            if (Entry[2]>mean):
                Exit=test[(test['Ratio']<=short1) &  (test['Ratio']>=mean)]      #Exit for Short Trade
                try :
                    Exit=Exit.iloc[0]
                    
                    qty=100000
                    Aqty=qty/Entry["asian"]
                    Bqty=qty/Entry["berg"]
                    Entry_A_P=Entry["asian"]*Aqty
                    Entry_B_P=Entry["berg"]*Bqty
                    Exit_A_P=Exit["asian"]*Aqty
                    Exit_B_P=Exit["berg"]*Bqty
                    Diff1=(Entry_A_P-Exit_A_P)+(Exit_B_P-Entry_B_P)#Diff Calc for Short Trade
                    
                    cur_year=Exit[3]
                    typ="Short"
                    Stats="Exit"
                    print ("Trade is "+typ+" and profit is {}".format(Diff1))
                    final = final.append({'Date':Exit.name,'Asian':Exit[0],'Berg':Exit[1],'Ratio':Exit[2],'Year':Exit[3],'Status':Stats, 'Type':typ,'Amt':Diff1}, ignore_index=True)
                    df=df.loc[Exit.name:]
                    
                except:
                    print("There is no Exit in Current Short")
                    final
                    Stop="True"
                    
            elif (Entry[2]<mean):
                Exit=test[(test['Ratio']>=long1) & (test['Ratio']<=mean)] # exit for Long trade
                
                try:
                    Exit=Exit.iloc[0]
                    
                    qty=100000
                    Aqty=qty/Entry["asian"]
                    Bqty=qty/Entry["berg"]
                    Entry_A_P=Entry["asian"]*Aqty
                    Entry_B_P=Entry["berg"]*Bqty
                    Exit_A_P=Exit["asian"]*Aqty
                    Exit_B_P=Exit["berg"]*Bqty
                    Diff1=(Entry_B_P-Exit_B_P)+(Exit_A_P-Entry_A_P)  #Diff calc for Long trade
                    
                    print("Trade is long and profit is{}".format(Diff1))
                    typ="Long"
                    Stats="Exit"
                    final = final.append({'Date':Exit.name,'Asian':Exit[0],'Berg':Exit[1],'Ratio':Exit[2],'Year':Exit[3],'Status':Stats, 'Type':typ,'Amt':Diff1}, ignore_index=True)
                    df=df.loc[Exit.name:]
                    
                except:
                    print("There is no Exit in current Long")
                    final
                    Stop="True"
                    
            #else:
                #print("There is NO Exit for Current Year")
            print (Entry)
            print (Exit)
            
        else:                                        #********************IF YEAR CHANGE ************
            mean_yr=mean_yr+1
            mean_yr=df_ratio[(df_ratio['Year']==mean_yr)]
            
            mean=mean_yr['Ratio'].mean()
            std=mean_yr['Ratio'].std()
            short2=mean + 2*std
            short1=mean + std
            long2=mean - 2*std
            long1=mean - std
            
            Entry=df[(df['Ratio']>=short2) |  (df['Ratio']<=long2)]   #Entry for Trading
            Entry=Entry.iloc[0]
            Stats="Entry"
            final = final.append({'Date':Entry.name,'Asian':Entry[0],'Berg':Entry[1],'Ratio':Entry[2],'Year':Entry[3],'Status':'Entry', 'Type':NaN,'Amt':0}, ignore_index=True)
            test=df.loc[Entry.name:]    
            
            if (Entry[2]>mean):
                Exit=test[(test['Ratio']<=short1) &  (test['Ratio']>=mean)]      #Exit for Short Trade
                
                try :
                    Exit=Exit.iloc[0]
                    
                    qty=100000
                    Aqty=qty/Entry["asian"]
                    Bqty=qty/Entry["berg"]
                    Entry_A_P=Entry["asian"]*Aqty
                    Entry_B_P=Entry["berg"]*Bqty
                    Exit_A_P=Exit["asian"]*Aqty
                    Exit_B_P=Exit["berg"]*Bqty
                    Diff1=(Entry_A_P-Exit_A_P)+(Exit_B_P-Entry_B_P)#Diff Calc for Short Trade
                    
                    cur_year=Exit[3]
                    typ="Short"
                    Stats="Exit"
                    print ("Trade is "+typ+" and profit is {}".format(Diff1))
                    final = final.append({'Date':Exit.name,'Asian':Exit[0],'Berg':Exit[1],'Ratio':Exit[2],'Year':Exit[3],'Status':Stats, 'Type':typ,'Amt':Diff1}, ignore_index=True)
                    df=df.loc[Exit.name:]
                    
                except:
                    print("There is no Exit in Current Short")
                    final
                    Stop="True"
                    
            elif (Entry[2]<mean):
                Exit=test[(test['Ratio']>=long1) & (test['Ratio']<=mean)] # exit for Long trade
                
                try:
                    Exit=Exit.iloc[0]
                    
                    qty=100000
                    Aqty=qty/Entry["asian"]
                    Bqty=qty/Entry["berg"]
                    Entry_A_P=Entry["asian"]*Aqty
                    Entry_B_P=Entry["berg"]*Bqty
                    Exit_A_P=Exit["asian"]*Aqty
                    Exit_B_P=Exit["berg"]*Bqty
                    Diff1=(Entry_B_P-Exit_B_P)+(Exit_A_P-Entry_A_P)  #Diff calc for Long trade
                    
                    print("Trade is long and profit is{}".format(Diff1))
                    typ="Long"
                    Stats="Exit"
                    final = final.append({'Date':Exit.name,'Asian':Exit[0],'Berg':Exit[1],'Ratio':Exit[2],'Year':Exit[3],'Status':Stats, 'Type':typ,'Amt':Diff1}, ignore_index=True)
                    df=df.loc[Exit.name:]
                    
                except:
                    print("There is no Exit in current Long")
                    final
                    Stop="True"
            #else:
                #print("There is NO Exit for Current Year")
            print (Entry)
            print (Exit)
                
    else:
        print("Correlation for year" + cur_year + "is less then 80%")

Trade is long and profit is8259.433727008174
asian     885.620000
berg      220.690000
Ratio       4.012959
Year     2017.000000
Name: 2017-01-09 00:00:00, dtype: float64
asian     910.090000
berg      208.560000
Ratio       4.363684
Year     2017.000000
Name: 2017-01-16 00:00:00, dtype: float64
Trade is long and profit is7658.446958875997
asian    1375.120000
berg      340.360000
Ratio       4.040193
Year     2018.000000
Name: 2018-08-29 00:00:00, dtype: float64
asian    1270.060000
berg      288.290000
Ratio       4.405494
Year     2018.000000
Name: 2018-09-27 00:00:00, dtype: float64
There is no Exit in current Long
asian    1765.930000
berg      439.970000
Ratio       4.013751
Year     2019.000000
Name: 2019-09-27 00:00:00, dtype: float64
Empty DataFrame
Columns: [asian, berg, Ratio, Year]
Index: []

In [31]:
final

        Date    Asian    Berg     Ratio    Year Status  Type      Amt
0 2017-01-09   885.62  220.69  4.012959  2017.0  Entry   NaN        0
1 2017-01-16   910.09  208.56  4.363684  2017.0   Exit  Long  8259.43
2 2018-08-29  1375.12  340.36  4.040193  2018.0  Entry   NaN        0
3 2018-09-27  1270.06  288.29  4.405494  2018.0   Exit  Long  7658.45
4 2019-09-27  1765.93  439.97  4.013751  2019.0  Entry   NaN        0